PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/ekabhumih
ADMIN_EMAIL=admin@ekabhumih.com
ADMIN_PASSWORD=admin123password
FRONTEND_ORIGIN=http://localhost:5173
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# EMAIL SMTP CONFIGURATION
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
EMAIL_FROM="Eka Bhūmih" <your_email@gmail.com>
